<mat-toolbar color="primary">
  <button mat-button routerLink="/"> Message Board</button>
  <button mat-button routerLink="/messages">Messages</button>
  <span style="flex: 1 1 auto"></span>
  <button mat-button routerLink="/login" *ngIf="!auth.isAuthenticated">Login</button>
  <button mat-button routerLink="/register" *ngIf="!auth.isAuthenticated">Register</button>
  <button mat-button routerLink="/" *ngIf="auth.isAuthenticated">Welcome, {{ auth.name }}</button>
  <button mat-button (click)="auth.logout()" *ngIf="auth.isAuthenticated">Logout</button>
</mat-toolbar>
